@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-image: url("../public/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to fill the viewport */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the alpha value (0.5 for 50% opacity) */
}

.App {
  text-align: center;
  width: 500px;
  height: 800px;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1a1a40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  position: relative; /* Add this line to make it a positioned container */
}

.TodoForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #63b9db;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 2rem;
  border: 1px solid #63b9db;
}

.todo-input {
  outline: none;
  background: none;
  width: 80%;
  color: #fff;
  border: none;
  padding-left: 10px;
}

.todo-input::placeholder {
  color: #13131365;
}

.todo-btn {
  background: #63b9db;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}
.close-btn-todo {
  color: #ffffff;
  border: none;
  padding: 3px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #e43b3b;
  position: relative;
  top: 45px;
  left: 53%;
}
.close-btn {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  background: #63dba3;
  border: none;
  color: #000000;
  cursor: pointer;
  padding: 0.2rem;
  border-radius: 10%;
}
.start-adding {
  font-size: 18px;
  color: #fff;
}
.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #63b9db;
  color: #fff;
  padding: 1rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #aed1ff;
  text-decoration: line-through;
}
.trashIcon {
  color: #e43b3b;
}

.EditIcon {
  color: #1cdf4c;
}
/*******/
/* Custom checkbox container */
