@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #63b9db;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  width: 500px;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1a1a40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  position: relative; /* Add this line to make it a positioned container */
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #63b9db;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #63b9db;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}
.close-btn {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  background: #63b9db;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0.2rem;
  border-radius: 10%;
}
.start-adding {
  font-size: 18px;
  color: #fff;
}
.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #63b9db;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #aed1ff;
  text-decoration: line-through;
}
